# Tennis Ranking Main

In [7]:
from tennis_tools import TennisUniverse

In [8]:
tu = TennisUniverse('data.csv')
tu

TennisUniverse
  files: ['data.csv']
  n_accepted_rows: 375
  n_rejected_rows: 9
  n_players: 205
  tournaments:
    - 'AICS 2023'
    - 'Mr. Dodo 23 - Fase Eliminatoria'
    - 'Mr. Dodo 23'
    - 'Mr. Dodo 22'
    - 'Mr. Dodo 22 - Fase Eliminatoria'

In [9]:
tu.rejected

                               error_type
file     file_row
data.csv 15        players not admittable
         16        players not admittable
         17        players not admittable
         30        players not admittable
         84          score not admittable
         91        players not admittable
         166       players not admittable
         287         score not admittable
         378         score not admittable

In [10]:
tu.optimize()

(tic)
Optimization started. n_iter = 1000
 n 0: loss = 1540.361328125
 n 100: loss = 1264.138916015625
 n 200: loss = 1264.099853515625
 n 300: loss = 1264.099853515625
 n 400: loss = 1264.099853515625
 n 500: loss = 1264.099853515625
 n 600: loss = 1264.0999755859375
 n 700: loss = 1264.099853515625
 n 800: loss = 1264.0999755859375
 n 900: loss = 1264.099853515625
 n 1000: loss = 1264.099853515625 (end)
(toc) 5.19 s

In [11]:
tu.ranking

,player,ability,n_singles,n_doubles,n_tot,last_tournament,last_tournament_date
rank,,,,,,,
1,Cirillo Pisaroni,104.139915,8,1,9,AICS 2023,2023-06-01
2,Giuseppe Cavalcanti,103.859909,0,4,4,AICS 2023,2023-06-01
3,Dionigi Vecellio,103.741005,9,0,9,AICS 2023,2023-06-01
4,Carlo Peano,103.684586,8,0,8,AICS 2023,2023-06-01
5,Gianluigi Caccianemico,103.674408,4,0,4,AICS 2023,2023-06-01
...,...,...,...,...,...,...,...
201,Marcello Cibin,97.105774,1,1,2,AICS 2023,2023-06-01
202,Sandro Abba,96.912193,2,0,2,AICS 2023,2023-06-01
203,Gionata Gulotta,96.488327,2,0,2,Mr. Dodo 23 - Fase Eliminatoria,2023-02-01
204,Lazzaro Luna,96.122917,3,0,3,AICS 2023,2023-06-01
205,Valerio Aporti,95.110229,2,4,6,AICS 2023,2023-06-01

In [12]:
tu.save("ranking.csv") # or "ranking.xlsx"